body {
    color: #8B7969;
}

.header {
    font-family: serif;
    width: 100%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #E0DFDE;
}

.header__inner {
    padding: 20px 300px;
}

.header__logo {
    text-decoration: none;
    font-size: 40px;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    font-family: serif;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #E0DFDE;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 25%;
    color: #FFFFFF;
    border-bottom: 1px solid #E0DFDE;
    background-color: #BAA899;
    text-align: left;
}

.confirm-table__text {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input {
    color: #8B7969;
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 1px;
    background: #8B7969;
    color: #E0DFDE;
    cursor: pointer;
    text-align: center;
}

.form__button-modify {
    color: #8B7969;
}